@font-face {
    font-family: Rubik-Medium;
    src: url('../../fonts/Rubik-Medium.ttf');
}

@font-face {
    font-family: Goldman-Regular;
    src: url('../../fonts/Goldman-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../fonts//Poppins-Medium.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../../fonts/Roboto-Medium.ttf');
}
