$primary-color: #F6830F;

@mixin nav-a($active: false) {
    text-decoration: none !important;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: black;
    margin-left: 20px;
    transition: border-bottom 0.2s;
    @if $active {
        border-bottom: solid $primary-color 2px;
    } @else {
        border-bottom: solid transparent 2px;
    }

    &:hover {
        border-bottom: solid $primary-color 2px;
        color: black !important;
    }

    @media screen and(max-width: 768px) {
        font-size: 12px;
    }
}

header {
    background-color: white;
    padding-top: 17px !important;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: both;
    border-bottom: solid $primary-color 2px;

    h1 {
        font-family: Rubik-Medium;
        font-size: 26px;
        margin-left: 15px;
        @media screen and(max-width: 768px) {
            font-size: 24px;
        }
    }

    nav {
        margin-right: 30px;
        margin-top: 4px;
        ul {
            li {
                a {
                    @include nav-a(false);
                }

                a.active {
                    @include nav-a(true)
                }
                display: inline-block;
            }
        }

        @media screen and(max-width: 768px) {
            margin-top: 6px;
        }
    }
}